**/bin/
**/obj/
**/out/
**/publish/
**/TestResults/

**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore
**/.gitattributes
**/*.user
**/*.suo

tests/

README.md
**/*.md

**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json
**/.env
**/.env.*
**/*.pfx
**/*.pem
**/*.key
**/*.p12
